---
import { Icon } from "astro-icon";
---

<div id="contact" class="relative isolate bg-blue-600">
  <div
    class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 transform-gpu justify-center overflow-hidden blur-3xl sm:bottom-0 sm:right-[calc(50%-6rem)] sm:top-auto sm:translate-y-0 sm:transform-gpu sm:justify-end"
    aria-hidden="true"
  >
    <div
      class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-neutral-200 to-white opacity-25"
      style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%)"
    >
    </div>
  </div>

  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2 px-6 gap-x-6">
    <div class="relative pt-24 sm:pt-32 sm:pb-6 lg:static">
      <div
        class="mx-auto max-w-xl lg:mx-0 lg:max-w-2xl bg-white/10 lg:ring-1 lg:ring-inset lg:ring-white/10 p-6 rounded-xl"
      >
        <h2 class="font-medium text-2xl text-white">Get in touch</h2>
        <p class="mt-6 text-lg leading-relaxed text-blue-100">
          Confidence, clarity, and support in your healthcare journey.
        </p>

        <div class="mt-6 max-w-lg space-y-4">
          <div class="mt-12">
            <h2 class="font-medium text-xl text-white">Zach Price</h2>
            <div class="flex items-center mt-2 space-x-2 text-blue-100">
              <Icon class="text-white w-4 h-4" name="uil:envelope" /><a
                href="mailto:zach@kyseniorhealth.com">zach@kyseniorhealth.com</a
              >
            </div>
            <div class="flex items-center mt-2 space-x-2 text-blue-100">
              <Icon class="text-white w-4 h-4" name="uil:phone" /><a
                href="tel:+1 (502) 632-3857">(502) 632-3857</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-16 sm:py-20">
      <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
        <!-- Calendly inline widget begin -->
        <div
          class="calendly-inline-widget"
          data-url="https://calendly.com/kyseniorhealth"
          style="min-width: 320px; max-width: 800px; height: 700px;"
        >
        </div>
        <script
          type="text/javascript"
          src="https://assets.calendly.com/assets/external/widget.js"
          async></script>
        <!-- Calendly inline widget end -->
      </div>
    </div>
  </div>
</div>
