---
import Container from "../components/Container.astro";
import { Icon } from "astro-icon";
---

<Container>
  <main
    class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
  >
    <div class="w-full flex-auto">
      <div
        class="mx-auto max-w-7xl py-32 sm:py-24 lg:py-24  mt-14 sm:mt-0 justify-start"
      >
        <div class="max-w-2xl py-24">
          <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">
            Helping Retirees Make Confident Medicare Decisions
          </h1>

          <div class="mt-10 flex items-center justify-start gap-x-6">
            <div
              class="flex gap-2 items-center justify-center rounded-md border-2 border-solid border-black bg-black px-6 py-3 font-semibold text-white hover:cursor-pointer hover:bg-gray-800">
              <Icon class="text-white w-4 h-4" name="lucide:download" />
              Free resources
            </div>
            
            <div
              class="flex gap-2 items-center justify-center rounded-xl border-2 border-solid border-black bg-white px-6 py-3 font-semibold text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] hover:cursor-pointer active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none">
              Schedule an appointment
              <Icon class="text-black w-4 h-4 rotate-90" name="mdi:arrow-up" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Container>
